@import url("../../common/styles/product.style.less");

.navbar__header {
  .flexItem();
  padding: 10px;
  align-items: center;
  background-color: @primary-color;

  .header__search,
  .header__icons {
    .flexItem();
    width: 100%;
  }

  .search__logo {
    width: 15vw;
    height: 5vh;
  }

  .icons__shopping {
    display: flex;
    .shopping__cart {
      cursor: pointer;
    }
  }

  .shop__count {
    position: relative;
    right: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    color: white;
    background-color: @cart-count-bg;
    border-radius: 50%;
    text-align: center;
  }

  .search {
    .flexItem();
    padding: 2px;
    align-items: center;
    background-color: @input-bg;
    border: 2px solid @input-bg;
    border-radius: 10px;
    &__input {
      width: 40vh;
      height: 4vh;
      padding-left: 10px;
      border: none;
      background-color: @input-bg;
      outline-style: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar__header {
    row-gap: 10px;
    .header__search,
    .header__icons {
      gap: 10px;
    }
    .icon {
      width: 2vh;
      height: 2vh;
    }
    .search {
      justify-content: center;
      .search__input {
        width: 40vw;
      }
      &__logo {
        display: none;
      }
    }
  }
}
