@import url("common/styles/product.style.less");

.blibli-search {
  padding: 10px;
  height: 100vh;

  .result__text {
    padding-left: 10px;
    .link {
      padding-left: 5px;
    }
    span a {
      text-decoration: none;
      color: @primary-color;
    }
  }

  main {
    max-height: 87vh;
    min-height: 87vh;
    overflow-y: scroll;
  }

  .search__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search__loader {
    display: flex;
    justify-content: center;
  }
}

.modal-body {
  max-height: 80vh;
  overflow-y: scroll;
  .product__list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid @modal-border-color;
    margin-bottom: 5px;

    .list {
      display: flex;
      align-items: center;
      column-gap: 10px;

      &__img {
        .img__size {
          width: 100px;
          height: 100px;
        }
      }

      &__detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__delete {
        margin-left: auto;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .blibli-search {
    main {
      max-height: 78vh;
      min-height: 78vh;
    }
  }
}
